Fontes/WalMart/Web/Service References/EstadoProxy/EstadoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EstadoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Regiao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sigla" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadoModel" nillable="true" type="EstadoModel" />
  <xs:complexType name="ArrayOfEstadoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstadoModel" nillable="true" type="EstadoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstadoModel" nillable="true" type="ArrayOfEstadoModel" />
</xs:schema>