Fontes/WalMart/Web/Service References/CidadeProxy/CidadeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54945/CidadeService.svc?xsd=xsd3" />
  <xs:complexType name="CidadeModel">
    <xs:sequence>
      <xs:element name="_Estado" nillable="true" type="EstadoModel" />
      <xs:element name="_x003C_Capital_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Codigo_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_EstadoCodigo_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Nome_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CidadeModel" nillable="true" type="tns:CidadeModel" />
  <xs:complexType name="ArrayOfCidadeModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CidadeModel" nillable="true" type="tns:CidadeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCidadeModel" nillable="true" type="tns:ArrayOfCidadeModel" />
</xs:schema>